.admin-card-view .product-name {
  color: #402970;
  font-size: 25px;
}

.admin-card-view .product-catogery p {
  background: #40297050;
  font-size: 15px;
  color: #402970;
  text-align: center;
  padding: 5px 5px;
  border-radius: 25px;
  margin-top: 15px;
}

.popup-header {
  color: #fff;
  background: #402970;
}

.popup-header .btn-close {
  background: #fff;
  color: #402970;
}

.close-btn {
  color: #fff !important;
  background: #402970;
}

.custom-btn2 {
  background-color: #4caf50; /* Custom green color */
  border-radius: 10px; /* Rounded corners */
  padding: 12px 20px; /* Adjust padding */
  font-size: 16px; /* Increase font size */
  transition: background-color 0.3s ease; /* Smooth transition */
  color: #ffffff;
  text-decoration: none;
}

.custom-btn2:hover {
  background-color: #45a049; /* Darker green on hover */
}
