.cutomNavbar {
  background: #efefef;
  padding: 8px 0px
}

.search-input {
  width: 450px;
  min-width: 200px;
}

input,
input:active,
input:focus {
  border: 0px solid black !important;
  box-shadow: 0px 0px 0px #ff0000 !important;
  outline: none !important;
}

.search-box input {
  border-radius: 10px;
}

.search-box button,
.search-box button:active,
.search-box button:hover {
  border-radius: 0px 10px 10px 0px;
  background: #574285
}

.search-box {
  background: #fff;
  border-radius: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:hover {
  background: #574285;
  border: 1px solid #574285;
}